* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img body {
  background-color: #f5f5f5;
  color: #272727;
}

main {
  font-family: 'Space Grotesk', 'Montserrat', sans-serif;
  padding: 2rem;
}

.time-day {
  padding: 1rem 2rem;
  background-color: #272727;
  color: #f5f5f5;
  margin: 0 auto;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.time-day p {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.profile-container {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container .profile {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-container .profile p {
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.texts {
  margin-top: 1rem;
  background-color: #272727;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
}

.texts h1 {
  font-size: 1.7rem;
  text-decoration: underline;
  margin-bottom: 0.9rem;
}

.texts li {
  font-size: 1.2rem;
  list-style-type: none;
}

.texts li:not(:last-child) {
  margin-bottom: 0.7rem;
}

.external-links {
  margin-top: 2rem;
  text-align: center;
}

.external-links h2 {
  margin: 1rem 0 0 0;
}

.external-links li {
  list-style-type: none;
  padding: 0.5rem 0;
}

.external-links a {
  text-decoration: none;
  color: #414141;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 767px) {
  main {
    padding: 1.3rem;
  }

  .time-day {
    padding: 1rem;
  }

  .time-day p {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .time-day {
    padding: 1rem 4rem;
  }
}
