* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #272727;
}

main {
  font-family: 'Space Grotesk', 'Montserrat', sans-serif;
  padding: 2rem;
}

.time {
  padding: 1rem 2rem;
  background-color: #272727;
  color: #f5f5f5;
  margin: 0 auto;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.time p {
  font-size: 1.5rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container .profile {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-container .profile p {
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.profile-container img {
  margin: 3rem 0;
}

.texts {
  margin-top: 1rem;
  background-color: #272727;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
}

.texts h1 {
  font-size: 1.7rem;
  text-decoration: underline;
  margin-bottom: 0.9rem;
}

.texts li {
  font-size: 18px;
  margin-bottom: 0.7rem;
  list-style-type: none;
}

.links {
  margin-top: 1rem;
  text-align: center;
}

.links h2 {
  margin: 1rem 0;
}

.links a {
  text-decoration: none;
  color: #414141;
}

.links a:hover {
  text-decoration: underline;
}

.links li {
  list-style-type: none;
  padding: 0.5rem 0;
}

.links a > span {
  font-weight: bold;
  font-style: italic;
  font-size: 1.3rem;
  text-decoration: underline;
}

@media (max-width: 767px) {
  main {
    padding: 1.3rem;
  }

  .time {
    padding: 1rem;
  }

  .time p {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .time {
    padding: 1rem 4rem;
  }
}
